# ~/.config/cava/transparent_cava_config

[general]
framerate = 60
bars = 80       ; <-- This is the line you want to change and make sure is active
autosens = 1
bar_width = 1
bar_spacing = 1

[input]
method = pipewire
source = auto

[output]
method = ncurses
channels = mono
output_mode = stereo

[colors]
foreground = 'FFFFFF'
background = '000000'
